@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

form#new-contact,
form#edit-contact {

  .acf-fields.-border {
    @apply
    border-indigo-600
}

  .acf-field-group {
    .acf-label {
      @apply
      text-indigo-600
      text-xl
    }
  }

  .acf-input {
    .acf-label {
      @apply
      text-base
      text-slate-600
    }
  }

  .acf-label {
    @apply
    text-slate-600
  }
  .acf-button {
    @apply
    inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto
  }

  .acf-switch.-on {
    @apply
    bg-indigo-600
    border-indigo-600
  }

  .acf-form-submit {
    @apply
    float-right
    mr-3
  }

  .acf-field[data-width] + .acf-field[data-width] {
    @apply
    border-none
  }

  .acf-fields > .acf-field {
    @apply
    border-none
  }

}